kaoto-postgres-demo/routes/schemas/canonical-reading.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="canonicalReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sensor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id" type="xs:string"/>
              <xs:element name="location" type="xs:string"/>
              <xs:element name="zone" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="metrics">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="tempC" type="xs:decimal"/>
              <xs:element name="humidity" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="severity" type="xs:string"/>
        <xs:element name="unitSystem" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

